.tableCheck {
  align-items: center;
  background: var(--bg-light);
  border-collapse: collapse;
  border-radius: 3rem;
  box-shadow: 20px 20px 60px #0000002d , -20px -20px 60px #0000002d;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
}

.thead {
  margin-top: 2rem;
}

.tableCheck th {
  font-size: 1.5rem;
  font-weight: 500;
  padding-right: 5rem;
}

.tableCheck td {
  color: var(--secondary);
  font-size: 1.5rem;
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  text-align: center;
}

.price {
  background-color: var(--dark-blue);
  border-radius: 3rem;
  color: var(--secondary);
  margin: 2rem;
  text-align: center;
  width: 20rem;
}

.total {
  font-size: 2rem;
}

.tableCheck th:nth-child( 1 ) {
  padding-right: 10rem;
}

.tableCheck th:nth-child( 2 ) {
  padding-right: 10rem;
}

.tableCheck th:nth-child( 3 ) {
  padding-right: 6rem;
}

.tableCheck th:nth-child( 4 ) {
  padding-right: 5rem;
}

.tableCheck th:nth-child( 5 ) {
  padding-right: 8rem;
}

.tableCheck th:nth-child( 6 ) {
  padding: 0;
}

.tableCheck td:nth-child( 1 ) {
  background-color: var(--light-grenn);
  color: var(--primary);
  width: 5rem;
}

.tableCheck td:nth-child( 2 ) {
  background-color: var(--secondary);
  color: var(--primary);
  width: 25rem;
}

.tableCheck td:nth-child( 3 ) {
  background-color: var(--dark-blue);
  width: 15rem;
}

.tableCheck td:nth-child( 4 ) {
  background-color: var(--purple);
  width: 15rem;
}

.tableCheck td:nth-child( 5 ) {
  background-color: var(--light-blue);
  width: 15rem;
}

.tableCheck td:nth-child( 6 ) {
  background-color: var(--logout);
  padding: 0;
}

@media only screen and ( max-width : 1000px ) {

  .tableCheck .thead {
    display: none;
  }

  .tableCheck .tbody tr {
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }

  .tableCheck td:nth-child( 1 ) {
    background-color: var(--dark-blue);
    border-radius: 1rem 1rem 0 0;
    color: var(--secondary);
    width: 25rem;
  }

  .tableCheck td:nth-child( 1 ):before {
    content: 'Item:  ';
    display: inline-block;
  }

  .tableCheck td:nth-child( 2 ) {
    background-color: var(--dark-blue);
    color: var(--secondary);
    width: 25rem;
  }

  .tableCheck td:nth-child( 2 ):before {
    content: 'Descrição:  ';
    display: inline-block;
  }

  .tableCheck td:nth-child( 3 ) {
    background-color: var(--dark-blue);
    color: var(--secondary);
    width: 25rem;
  }

  .tableCheck td:nth-child( 3 ):before {
    content: 'Quantidade:  ';
    display: inline-block;
  }

  .tableCheck td:nth-child( 4 ) {
    background-color: var(--dark-blue);
    color: var(--secondary);
    width: 25rem;
  }

  .tableCheck td:nth-child( 4 ):before {
    content: 'Valor Unitário:  ';
    display: inline-block;
  }

  .tableCheck td:nth-child( 5 ) {
    background-color: var(--dark-blue);
    color: var(--secondary);
    width: 25rem;
  }

  .tableCheck td:nth-child( 5 ):before {
    content: 'Sub-total:  ';
    display: inline-block;
  }

  .tableCheck td:nth-child( 6 ) {
    background-color: var(--logout);
    border-radius: 0 0 1rem 1rem;
    color: var(--secondary);
    width: 25.2rem;
  }
}
