.container {
  background: var(--bg-light);
  border-radius: 3rem;
  box-shadow: 20px 20px 60px #0000002d , -20px -20px 60px #0000002d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

.title {
  color: var(--primary);
  margin-left: 5rem;
  margin-top: 5rem;
}

.head {
  background-color: var(--dark-blue);
  border-radius: 3rem 3rem 0 0;
  color: var(--secondary);
  display: flex;
  justify-content: center;
}

.head span {
  font-size: 1.4rem;
}

.pedido {
  font-weight: 600;
  margin: 1rem;
}

.name {
  margin: 1rem;
}

.date {
  background-color: var(--data-value);
  border-radius: 3rem;
  color: var(--primary);
  font-weight: 600;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
}

.status {
  background-color: var(--light-grenn);
  border-radius: 3rem;
  color: var(--primary);
  font-weight: 600;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
}

.button {
  background-color: var(--button-green);
  border: none;
  border-radius: 3rem;
  color: var(--secondary);
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
}

.button:hover {
  background-color: var(--hover-header);
  transition: 400ms;
}


.button:disabled {
  background-color: var(--gray);
  cursor: default;
}


.total {
  background-color: var(--dark-blue);
  border-radius: 3rem;
  color: var(--secondary);
  font-size: 1.6rem;
  font-weight: 600;
  margin: 3rem auto;
  padding: 0.5rem 1.5rem;
  text-align: center;
}

@media only screen and ( max-width : 785px ) {

  .date, .status {
    align-items: center;
    display: flex;
  }
}

@media only screen and ( max-width : 590px ) {

  .pedido, .name {
    margin: auto 0.5rem;
  }

  .date, .status, .button {
    padding: 0.2rem;
  }
}

@media only screen and ( max-width : 495px ) {

  .head span, .button {
    font-size: 1.2rem;
  }
}

@media only screen and ( max-width : 445px ) {

  .head {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .date, .status, .button {
    display: flex;
    justify-content: center;
    width: 15rem;
  }

  .pedido, .name {
    margin: 0.5rem auto;
  }
}

