.container {
  border: 0.1rem solid var(--dark-blue);
  border-radius: 1.2rem;
  display: flex;
  flex-direction: row;
  height: 4.5rem;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.quantity-controller {
  color: var(--secondary);
  background-color: var(--dark-blue);
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  width: 35%;
}

.quantity-controller:hover {
  background-color: var(--bg-dark);
  transition: 400ms;
}

.quantity-display {
  background-color: var(--hover-header);
  color: var(--secondary);
  border: none;
  text-align: center;
  width: 30%;
}
