.container {
  border: 0.1rem solid var(--dark-blue);
  border-radius: 3rem;
  display: flex;
  flex-direction: row;
  height: 4.5rem;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.quantity-controller {
  align-items: center;
  background-color: var(--light-grenn);
  border: none;

  /* border-radius: 1rem 0 0 1rem; */
  color: var(--secondary);
  cursor: pointer;
  display: flex;
  font-size: 4rem;
  justify-content: center;
  width: 35%;
}

.quantity-controller:hover {
  background-color: var(--data-value);
  transition: 400ms;
}

.quantity-controller:first-child {
  border-radius: 3rem 0 0 3rem;
}

.quantity-controller:last-child {
  border-radius: 0 3rem 3rem 0;
}

.quantity-display {
  border: none;
  color: var(--primary);
  text-align: center;
  width: 30%;
}
