.register-page {
  align-items: center;
  animation: zoom 7000ms infinite ease-in-out;
  background-image: url('../../images/background.avif');
  background-position: center;
  background-size: cover;
  color: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

@keyframes zoom {

  0% {
    background-size: 100%;
  }

  50% {
    background-size: 105%;
  }

  100% {
    background-size: 100%;
  }
}

.register-container {
  align-items: center;
  align-self: center;
  background-color: var(--secondary);
  border-radius: 3rem;
  display: flex;
  filter: drop-shadow(0.5rem 0.5rem 2rem var(--bg-dark));
  flex-direction: column;
  height: 85%;
  width: 45%;
}

.register-container h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  height: clamp(50rem, 96rem, 100%);
  justify-content: center;
  width: 100%;
}

.form-label {
  display: flex;
  flex-direction: column;
  font-size: 2.4rem;
  text-align: center;
  width: 80%;
}

.form-label input {
  all: unset;
  border: 0.3rem solid var(--bg-light);
  border-radius: 3rem;
  font-size: 1.6rem;
  height: 3rem;
  margin: auto;
  padding: 1rem;
  width: 70%;
}

.form-label input:focus {
  border: 0.3rem solid var(--light-blue);
}

.form-label p {
  font-size: 1.7rem;
  height: 1rem;
  margin-left: 2rem;
  text-align: center;
}

.form-validation {
  color: gray;
  font-size: 1.5rem;
}

.form-validation__success {
  color: green;
}

.form-container button {
  all: unset;
  background-color: var(--bg-light);
  border: 0.5rem solid var(--bg-dark);
  border-radius: 3rem;
  color: var(--primary);
  font-size: 2rem;
  font-weight: 600;
  height: 4rem;
  padding: 1rem 2rem;
  text-align: center;
  width: min(80%, 50rem);
}

.form-container button:hover {
  background-color: var(--hover-header);
  transition: 400ms;
}

.form-container button:disabled {
  background-color: var(--bg-light);
  color: var(--primary);
}

.form-container a {
  all: unset;
  background-color: var(--bg-light);
  border: 0.5rem solid var(--bg-light);
  border-radius: 3rem;
  font-size: 2rem;
  font-weight: 900;
  height: 4rem;
  padding: 1rem 2rem;
  text-align: center;
  width: min(80%, 50rem);
}

@media only screen and ( max-width : 600px ) {

  .register-container {
    width: 85%;
  }

  .register-container h1 {
    font-size: 2rem;
  }

  .form-label {
    font-size: 1.5rem;
  }

  .form-container button {
    font-size: 1.5rem;
    height: 3rem;
    padding: 0.5rem 1rem;
    width: min(55%, 50rem);
  }
}
