.checkout {
  align-items: center;
  background-color: var(--car-normal);
  border: 50%;
  border-radius: 1rem;
  bottom: 5vh;
  cursor: pointer;
  display: flex;
  font-size: 2.5rem;
  height: 8rem;
  justify-content: center;
  position: sticky;
  width: 29rem;
}

.checkout:has( .navbutton:disabled ) {
  background-color: var(--car-disable);
}

.navbutton {
  background-color: var(--car-normal);
  border: none;
  color: var(--secondary);
  cursor: pointer;
  font-size: 2.5rem;
}

.navbutton:disabled {
  background-color: var(--car-disable);
  cursor: default;
}
