.login-page {
  animation: zoom 7000ms infinite ease-in-out;

  /* background-image: url('https://images.unsplash.com/photo-1488342994276-7c3bc0742042?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80'); */
  background-image: url('../../images/background.avif');
  background-position: center;
  background-size: cover;
  display: grid;
  min-height: 100vh;
  place-items: center;
}

@keyframes zoom {

  0% {
    background-size: 100%;
  }

  50% {
    background-size: 105%;
  }

  100% {
    background-size: 100%;
  }
}

.login-container {
  background-color: var(--secondary);
  border-radius: 1rem;
  display: flex;
  filter: drop-shadow(0.1rem 0.1rem 1rem black);
  flex-direction: row-reverse;
  height: 100%;
  max-height: 75rem;
  max-width: 130rem;
  width: 100%;
}

.form-container {
  column-gap: 10%;
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  place-items: center;
  width: 50%;
}

.form-group {
  column-gap: 10%;
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  width: 90%;
}

.form-group:last-child {
  grid-template-columns: 1fr;
  height: 20rem;
  place-items: center;
  width: 100%;
}

.form-label {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.form-input {
  all: unset;
  border: 0.3rem solid var(--bg-light);
  border-radius: 1rem;
  box-sizing: border-box;
  font-size: 2rem;
  height: 6rem;
  padding: 1rem 2rem;
  text-align: center;
  width: 100%;
}

.form-input:focus {
  border: 0.3rem solid var(--light-blue);
}

.form-validation {
  color: var(--gray);
  font-size: 1.7rem;
  font-weight: 400;
  height: 1rem;
  margin-left: 2rem;
  text-align: start;
}

.form-validation__success {
  color: var(--green);
  font-size: 1.7rem;
  font-weight: 400;
  height: 1rem;
  margin-left: 2rem;
  text-align: start;
}

.button {
  all: unset;
  background-color: var(--dark-blue);
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  height: 6rem;
  text-align: center;
  width: 90%;
}

.button:first-child {
  margin-bottom: 5%;
}

.error {
  color: red;
  font-size: 2rem;
  text-align: center;
}

.button:disabled {
  background-color: var(--bg-light);
}

.button:hover {
  border: 0.5rem solid var(--light-blue);
  border-radius: 1rem;
  box-sizing: border-box;
  transition: 200ms ease-in;
}

.login-hero {
  background-color: var(--primary);

  /* background-image: url('https://images.unsplash.com/photo-1617347454431-f49d7ff5c3b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1630&q=80'); */
  background-image: url('../../images/moto.avif');
  background-position: center;
  background-size: cover;
  border-radius: 1rem 0.1rem 0.1rem 1rem;
  flex-shrink: 1;
  height: 100%;
  object-fit: cover;
  width: 50%;
}

@media ( max-width : 60rem ) {

  .login-container {
    background-position: center;
    background-size: cover;
    border-radius: unset;
  }

  .login-hero {
    display: none;
  }

  .form-container {
    column-gap: 5%;
    width: 100%;
  }
}
