.login-page {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  place-items: center;
  animation: zoom 7000ms infinite ease-in-out;
  background-position: center;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1488342994276-7c3bc0742042?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
}

@keyframes zoom {
    0% {
      background-size: 100%;
    } 
    50% {
      background-size: 105%;
    }
    100% {
      background-size: 100%;
    }
}

.login-container {
  background-color: var(--secondary);
  border-radius: 2rem;
  display: flex;
  filter: drop-shadow(0.1rem 0.1rem 1rem black);
  flex-direction: row-reverse;
  height: 100%;
  max-height: 96rem;
  max-width: 130rem;
  width: 100%;
}

.form-container {
  display: grid;
  height: 100%;
  width: 50%;
  grid-template-columns: 1fr;
  place-items: center;
  column-gap: 10%;
}

.form-group {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 10%;
}

.form-group:last-child {
  width: 100%;
  height: 20rem;
  grid-template-columns: 1fr;
  place-items: center;
}

.form-label {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.form-input {
  all: unset;
  border: 0.3rem solid var(--bg-light);
  border-radius: 1rem;
  font-size: 2rem;
  height: 6rem;
  padding: 1rem 2rem;
  width: 100%;
  box-sizing: border-box;
}

.form-input:focus {
  border: 0.3rem solid var(--light-blue);
}

.form-validation {
  color: var(--gray);
  font-size: 1.7rem;
  font-weight: 400;
  height: 1rem;
  margin-left: 2rem;
  text-align: start;
}

.form-validation__success {
  color: var(--green);
  font-size: 1.7rem;
  font-weight: 400;
  height: 1rem;
  margin-left: 2rem;
  text-align: start;
  font-weight: 600;
}

.button {
  all: unset;
  background-color: var(--dark-grenn);
  border-radius: 1rem;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  height: 3rem;
  height: 6rem;
  text-align: center;
  width: 90%;
}

.button:first-child {
  margin-bottom: 5%;
}

.error {
  color: red;
  font-size: 2rem;
  text-align: center;
}

.button:disabled {
  background-color: var(--bg-light);
}

.button:hover {
  border: 0.5rem solid var(--light-blue);
  border-radius: 1rem;
  transition: ease-in;
  box-sizing: border-box;
}

.login-hero {
  background-color: var(--primary);
  background-image: url('https://images.unsplash.com/photo-1617347454431-f49d7ff5c3b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1630&q=80');
  background-size: cover;
  background-position: center;
  border-radius: 2rem 0.1rem 0.1rem 2rem;
  flex-shrink: 1;
  height: 100%;
  object-fit: cover;
  width: 50%;
}

@media (max-width: 60rem) {
  .login-container {
    border-radius: unset;
    background-size: cover;
    background-position: center;
  }
  .login-hero {
    display: none;
  }
  .form-container {
    width: 100%;
    column-gap: 5%;
  }
}
