.table {
  border-collapse: collapse;
  margin: 3rem auto;
  text-align: center;
}

.table th {
  color: var(--primary);
  font-size: 1.7rem;
  font-weight: 500;
}

.table td {
  color: var(--secondary);
  font-size: 1.5rem;
  padding: 0.6rem 5rem;
}

.button {
  background: none;
  border: none;
  color: var(--secondary);
  cursor: pointer;
  padding: 0.6rem 5rem;
}

.table td:nth-child( 1 ) {
  background-color: var(--light-grenn);
  color: var(--primary);
}

.table td:nth-child( 2 ) {
  background-color: var(--secondary);
  color: var(--primary);
}

.table td:nth-child( 3 ) {
  background-color: var(--dark-blue);
}

.table td:nth-child( 4 ) {
  background-color: var(--purple);
}

.table td:nth-child( 5 ) {
  background-color: var(--light-blue);
  padding: 0;
}

@media only screen and ( max-width : 715px ) {

  .table td {
    font-size: 1.2rem;
    padding: 0.3rem 2.5rem;
  }

  .table th {
    font-size: 1.3rem;
  }
}

@media only screen and ( max-width : 660px ) {

  .table .thead {
    display: none;
  }

  .globalTable .table .tbody tr {
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }

  .table td {
    box-shadow: 0 6px 14px 0 rgba(59, 58, 58, 0.75);
    color: var(--secondary);
    font-size: 1.5rem;
    padding: 1rem;
  }

  .table td:nth-child( 1 ) {
    background-color: var(--dark-blue);
    border-radius: 1rem 1rem 0 0;
    color: var(--secondary);
  }

  .table td:nth-child( 1 ):before {
    content: 'Item:  ';
    display: inline-block;
  }

  .table td:nth-child( 2 ) {
    background-color: var(--dark-blue);
    color: var(--secondary);
  }

  .table td:nth-child( 2 ):before {
    content: 'Descrição:  ';
    display: inline-block;
  }

  .table td:nth-child( 3 ) {
    background-color: var(--dark-blue);
    color: var(--secondary);
  }

  .table td:nth-child( 3 ):before {
    content: 'Quantidade:  ';
    display: inline-block;
  }

  .table td:nth-child( 4 ) {
    background-color: var(--dark-blue);
    color: var(--secondary);
  }

  .table td:nth-child( 4 ):before {
    content: 'Valor Unitário:  ';
    display: inline-block;
  }

  .table td:nth-child( 5 ) {
    background-color: var(--dark-blue);
    border-radius: 0 0 1rem 1rem;
    color: var(--secondary);
    padding: 1rem;
  }

  .table td:nth-child( 5 ):before {
    content: 'Sub-total:  ';
    display: inline-block;
  }
}

