/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap') ;

/* css variables */
:root {

  --primary: black;

  --secondary: white;

  --gray: gray;

  --green: green;

  --bg-dark: #1F1C27;

  --bg-light: #e0e0e0;

  --green-status: #ccb800;

  --light-grenn: #2FC18C;

  --dark-blue: #036B52;

  --purple: #555063;

  --light-blue: #766D8D;

  --data-value: #f2fffcbf;

  --button-green: #038566;

  --car-normal: #484158;

  --car-disable: #71658e;

  --hover-header: #288d75;

  --logout: #7b2a2a;

  --hover-logout: #9f4242;

  --title-font: 'Montserrat' , sans-serif;
}

html {
  border: 0;

  /* 1rem = 10px */
  font-size: 62.5%;

  /* css resetter */
  margin: 0;
  padding: 0;
}
