.links {
  align-items: center;
  border-right: 0.1rem solid var(--secondary);
  color: var(--secondary);
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  width: 50%;
}

.links:hover {
  background-color: var(--hover-header);
  color: var(--secondary);
  transition: 400ms;
}

@media only screen and ( max-width : 750px ) {

  .links {
    font-size: 1.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

@media only screen and ( max-width : 380px ) {

  .links {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
